{% extends 'AppWeb/base.html' %}

{% block title %}Semillero{% endblock %}

{% block style %}

{% endblock %}

{% block content %}
{% load static %}
<div class="text">Integrantes Grupo de Investigación</div>
  <div class="Joaquin">
    <img src="{% static 'pictures/joaquin.jpg' %}" class="guille">
        <p class="textog">
          Doctorado en Ciencias Agrarias – Biomodelation. Universidad Nacional de Colombia - The University of Kansas.
          <br>
      Magíster en Ciencias Agrarias - Área Fitoepidemiología. Universidad Nacional de Colombia
      <br>
      Pregrado en Ingeniería Agronómica. Universidad Nacional de Colombia
    </p>
      </div>
      <div class="Jesus">
        <img src="{% static 'pictures/jesus.jpg'%}" class="efren">
        <p class="textoe">
          Postdoctorado en Ciencias de la Atmósfera, Universidad Nacional Autónoma de México.
          <br>
          Doctorado en Ciencias de la Tierra, Universidad Nacional Autónoma de México.
          <br>
          Magíster en Medio Ambiente y Desarrollo, Universidad Nacional de Colombia.
          <br>
      Especialización en Gestión Ambiental, Universidad Nacional de Colombia
      <br>
      Pregrado en Ingeniería Forestal, Universidad Nacional de Colombia, sede Medellín.
    </p>
</div>
{% endblock %}