{% extends 'AppWeb/base.html' %}

{% load static %}

{% block title %}Semillero{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/style_group.css' %}">
{% endblock %}

{% block content %}
{% load static %}
<div class="container">
	<h1 class="title">
		Integrantes Grupo de Investigación
	</h1>
	<div class="container-s">
		<div class="joaquin">
			<img src="{% static 'pictures/joaquin.jpg' %}">
			<ul>
				<li>
					Doctorado en Ciencias Agrarias – Biomodelation. Universidad Nacional de Colombia - The University of Kansas.
				</li>
				<li>
					Magíster en Ciencias Agrarias - Área Fitoepidemiología. Universidad Nacional de Colombia
				</li>
				<li>
					Pregrado en Ingeniería Agronómica. Universidad Nacional de Colombia
				</li>
			</ul>
		</div>
		<br>
		<br>
		<div class="jesus">
			<img src="{% static 'pictures/jesus.jpg'%}" class="jesus1">
			<ul>
				<li>
					Postdoctorado en Ciencias de la Atmósfera, Universidad Nacional Autónoma de México.
				</li>
				<li>
					Doctorado en Ciencias de la Tierra, Universidad Nacional Autónoma de México.
				</li>
				<li>
					Magíster en Medio Ambiente y Desarrollo, Universidad Nacional de Colombia.
				</li>
				<li>
					Especialización en Gestión Ambiental, Universidad Nacional de Colombia
				</li>
				<li>
					Pregrado en Ingeniería Forestal, Universidad Nacional de Colombia, sede Medellín.
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}