{% extends 'AppWeb/base.html' %}

{% load static %}

{% block title %}Mapa interactivo{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/style_map.css' %}">
{% endblock %}

{% block content %}
<div class="wrapper">
  <section class="left">
    {{ map.html.render|safe }}
  </section>
  <section class="right">
    <div class="container_1">
      <h1 class="title">
        Mapa Interactivo
      </h1>
      <br>
      <br>
      <h3>
        Proveedor: &emsp;&emsp; {{ proveedor }}
      </h3>
      <br>
      <h3>
        Producto: &emsp; {{ producto }}
      </h3>
      <br>
      <h3>
        Imágen: &emsp;&emsp; {{ imagen }}
      </h3>
      <br>
      <h3>
        Intervalo de tiempo:<br>
        {{ fecha_i }}<br> {{ fecha_f }}
      </h3>
      <br>
      <br>
      <a href="{% url 'config' %}">
        <button class="boton">
          Configurar capa
        </button>
      </a>
    </div>
  </section>
</div>


<!--
<div class="container">
  <div class='some-page-wrapper'>
    <div class='row'>
      <div class='column'>
        <div class='blue-column'>
          {{ map.html.render|safe }}
        </div>
      </div>
  
      <div class='column'>
        <div class='green-column'>
          <div class="container_1">
            <h1 class="title">
              Mapa Interactivo
            </h1>
            <br>
            <br>
            <h3>
              Proveedor: &emsp;&emsp; {{ proveedor }}
            </h3>
            <br>
            <h3>
              Producto: &emsp; {{ producto }}
            </h3>
            <br>
            <h3>
              Imágen: &emsp;&emsp; {{ imagen }}
            </h3>
            <br>
            <h3>
              Intervalo de tiempo:<br>
              {{ fecha_i }}<br> {{ fecha_f }}
            </h3>
            <br>
            <br>
            <a href="{% url 'config' %}">
              <button class="boton">
                Configurar capa
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->
<script> {{ map.script.render | safe }}</script>

{% endblock %}
      