{% extends 'AppWeb/base.html' %}

{% load static %}

{% block title %}Mapa interactivo{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/style_map.css' %}">
{% endblock %}

{% block content %}

<div class="container">
  
    {{ map.html.render|safe }}
  
  <div class="outher">
    <h1 class="title">
      Mapa Intercativo
    </h1>
  </div>
  
  <!--
    <div class="options">
      <h3 class="title_1">
        Propiedas de la capa
      </h3>
      <br>
      <br>
      <table>
        <tbody style="width: 100%;">
          <tr>
            <td>Proveedor</td>
            <td></td>
          </tr>
          <tr>
            <td>Imagen</td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <br>
      <br>
      <br>
      <br>
      <a href="{% url 'config' %}">
        <button>
          Configurar capa
        </button>
      </a>
    </div>-->  
</div>
<script> {{ map.script.render | safe }}</script>

{% endblock %}
      