{% extends 'AppWeb/base.html' %}

{% block title %}subir-archivos{% endblock %}

{% block content %}
<div class="text">
  Manejo de archivos
</div>
<div class="formulario_archivo">
  <form method="POST" enctype="multipart/form-data" class="upload">
    {% csrf_token %}
    <div class="file">
      <input type="file" name="Archivo">
    </div>
    <div class="submit">
      <button type="submit">
        Subir archivo
      </button>
    </div>
    
  </form>
      {% if name %}
    <p>
      Nombre archivo: 
      <a href="{{ name }}">
      {{ name }}
      </a>
    </p>
    {% endif %}
    {% if size %}
    <p>
      Tamaño archivo: 
      <a href="{{ size }}">
      {{ size }}
      </a>
    </p>
    {% endif %}
</div>
{% endblock %}