{% extends 'AppWeb/base.html' %}

{% load static %}

{% block title %}Iniciar Sesión{% endblock %}

{% block style %}
 	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
	<link rel="stylesheet" href="{% static 'css/style_login.css' %}">
{% endblock %}

{% block content %}
<div class="container">
	<div class="container_1">
		<h1 class="title">
			Inicio Sesión
		</h1>
		<br>
		<img src="{% static 'images/user.png' %}" class="image_u">
		<form action="" method="POST" class="formulario">
		
			{% csrf_token %}
			<div>
				Nombre de usuario: {{ form.username }}
			</div>
			<br>
			<div>
				Contraseña: {{ form.password }}
			</div>
			<br>
			<br>
			<input type="submit" name="Login" class="button" value="Iniciar sesión">
			<br>
			<br>
			<p>Bienvenido a la aplicación</p>
			<p>Si no cuenta todavía con una cuenta <a class="link" href="{% url 'registration' %}">Registrese</a></p>
			<p>Volver a <a class=link href="{% url 'home' %}">Inicio</a></p>
		</form>
	</div>	
</div>
{% endblock %}