{% extends 'AppWeb/base.html' %}

{% load static %}

{% block title %}Iniciar Sesión{% endblock %}

{% block style %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<link rel="stylesheet" href="{% static 'css/style_register.css' %}">
{% endblock %}

{% block content %}
<div class="container">
	<div class="container_1">
		<h1 class="title">
			Registro
		</h1>
		<br>
		<img src="{% static 'images/user.png' %}" class="image_u">
		<form action="" method="POST" class="formulario">

			{% csrf_token %}
			<div class="form">
				<div>
					Nombre usuario: {{ form.username }}
				</div>
				<br>
				<div>
					Primer nombre: {{ form.first_name}}
				</div>
				<br>
				<div>
					Apellido: {{ form.last_name}}
				</div>
				<br>
				<div>
					Email: {{ form.email}}
				</div>
				<br>
				<div>
					Contraseña: {{ form.password1}}
				</div>
				<br>
				<div>
					Confirme contraseña: {{ form.password2}}
				</div>
				
			</div>
			
			<br>
			<br>
			<input type="submit" name="Login" class="button" value="Registrarse">
			<br>
			<br>
			<p>Bienvenido a la aplicación</p>
			<p>Si ya posee una cuenta <a class="link" href="{% url 'login' %}">Inicia Sesión</a></p>
			<p>Volver a <a class=link href="{% url 'home' %}">Inicio</a></p>
		</form>
	</div>
</div>
{% endblock %}