.home-section {
    display: flex;
}
.logo1,
.facultad1,
.unal1 {
    width: 120px;
    padding: 10px;
}

.images {
    display: flex;
    justify-content: space-between;
}

.title {
    text-align: center;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  right: 100px;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}

.column1 {
  width: 90%;
  height: 90%;
}

.column2 {
    height: 90%;
    width: 90%;
    background-color: rgb(152, 224, 206);
    border-radius: 15px;
    text-align: justify;
    font-size: 20px;
}

.dark-mode .column2{
	color: black;
}

.slider{
	position: relative;
	width: 1200px;
	max-width: 1200px;
	margin: 20px;
	overflow: hidden;
	border-radius: 10px;
}

.slider .slide{
	position: absolute;
	width: 100%;
	height: 100%;
	clip-path: circle(0% at 0 50%);
}

.slider .slide.active{
	clip-path: circle(150% at 0 50%);
	transition: 3s;
}

.slider .slide img{
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slider .slide .info{
	position: absolute;
	color: #222;
	background: rgba(255, 255, 255, 0.3);
	width: 75%;
	margin-top: 50px;
	margin-left: 50px;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
}

.slider .slide .info h2{
	font-size: 2em;
	font-weight: 800;
}

.slider .slide .info p{
	font-size: 1em;
	font-weight: 400;
}

.navigation{
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	opacity: 0;
	transition: opacity 0.5s ease;
}

.slider:hover .navigation{
  	opacity: 1;
}

.prev-btn, .next-btn{
	z-index: 999;
	font-size: 2em;
	color: #222;
	background: rgba(255, 255, 255, 0.8);
	padding: 10px;
	cursor: pointer;
}

.prev-btn{
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.next-btn{
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.navigation-visibility{
	z-index: 999;
	display: flex;
	justify-content: center;
}

.navigation-visibility .slide-icon{
	z-index: 999;
	background: rgba(255, 255, 255, 0.5);
	width: 20px;
	height: 10px;
	transform: translateY(-50px);
	margin: 0 6px;
	border-radius: 2px;
	box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}

.navigation-visibility .slide-icon.active{
  	background: #4285F4;
}

.footer {
	display: flex;
	position: fixed;
	bottom: 0;
	right: 10px;
}

@media (max-width: 900px){
	.slider{
	width: 100%;
  }

  .slider .slide .info{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 500px){
  	.slider .slide .info h2{
    font-size: 1.8em;
    line-height: 40px;
  	}

  	.slider .slide .info p{
    font-size: 0.9em;
  	}
}

@media only screen and (max-width: 1400px){
	.row {
		display: block;
	}
	.column {
		display: block;
	}
	.slider{
		width: 100%;
		height: 50%;
	}
	.navigation{
		height: 250px;
	}
	.slider .slide img{
		width: 100%;
		height: 100%;
	}
	.column2 {
		padding: 18px;
		margin: 0 2.5%;
	}
}

.hidden {
	overflow: hidden;
}

.preloader {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vh;
	background-color: #050D2A;
}	

.lds-roller {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
  }
  .lds-roller div {
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 40px 40px;
  }
  .lds-roller div:after {
	content: " ";
	display: block;
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #fff;
	margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
	top: 63px;
	left: 63px;
  }
  .lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
	top: 68px;
	left: 56px;
  }
  .lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
	top: 71px;
	left: 48px;
  }
  .lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
	top: 72px;
	left: 40px;
  }
  .lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
	top: 71px;
	left: 32px;
  }
  .lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
	top: 68px;
	left: 24px;
  }
  .lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
	top: 63px;
	left: 17px;
  }
  .lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
	top: 56px;
	left: 12px;
  }
  @keyframes lds-roller {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }