.title {
    text-align: center;
    font-size: 35px;
}

img {
    width: 350px;
    border-radius: 15px;
    min-width: 250px;
    min-height: 250px;
    padding: 5px;
}
.jesus1 {
    width: 27%;
}

.container-s {
    position: absolute;
    left: 150px;
}

.joaquin,
.jesus {
    background-color: rgb(54, 179, 137);
    width: 90%;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
}

li, ul {
    font-size: 18px;
    margin: 0 2.5%;
    margin-top: 5px;
}

.dark-mode p{
    color: black;
}