.title {
    text-align: center;
    font-size: 35px;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.interactive {
  width: 75%;
  height: 100vh;
  margin: 5px;
  padding: 5px;
}

.options {
  width: 25%;
  margin: 5px;
  padding: 5px;
}

.buttonc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    background-color: rgb(32, 173, 173);
    color: white;
    border-radius: 10px;
}