.title {
    font-size: 35px;
    text-align: center;
}

.some-page-wrapper {
  margin: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.blue-column {
  display: flex;
  justify-content: center;
}

.green-column {
  height: 100px;
}



.container {
    position:relative;
    width:90vw;
    height: 90vh;
    margin: auto;
}
.container_1 {
    position:absolute;
    margin: auto;
    width: 470px; 
    height: 400px;
    background-color: rgb(40, 199, 146);
    text-align: center;
    border-radius: 15px;
}

table, th, td {
  border:1px solid black;
}

.tabla {
    text-align: center;
}

.dark-mode .container_1 {
    color: black;
}

@media only screen and (max-width: 1200px){
  .row {
    display: block;
  }
	.column{
    display: block;
    width: 100%;
  }
  .green-column {
    margin-top: 500px;
  }
  .container_1 {
    width: auto;
  }
}