.title {
    text-align: center;
    font-size: 35px;
}
/*
.title_1 {
  text-align: center;
}*/

.container {
  display: inline-block;
  width: max-content;
  height: 900px;
}

.interactive {
  display: block;
  width: max-content;
  height: 900px;
}

/*
table, th, td {
  border:1px solid black;
}*/
